
.welcome{
    width: 50%;
    margin: auto;
    color: #535C91;
    font-weight: bolder;
    margin-top: 6%;
    text-align: center;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1em;
    font-family:monospace ;
    padding: 2%;
    background-color: #ebedf8;

}

.welcome p{
    color: black
}